/*
 Theme Name:   Custom Theme
 Theme URI:    https://walkingplacestogether.com
 Description:  Custom theme for Walking Places Together
 Author:       Walking Places Together
 Author URI:   https://walkingplacestogether.com
 Template:     astra
 Version:      1.0.0 
*/
